/*Loader Css start*/


.pa-preloader {
    background-color: #fff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    z-index: 99999999999;
    right: 0;
    top: 0;
    width: 100%;
}
.pa-ellipsis {
    margin: 0 auto;
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 64px;
    text-align: center;
    z-index: 9999;
}
.pa-ellipsis span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #04c37f;
    -webkit-animation: ball-pulse-sync 1s 0s infinite ease-in-out;
    animation: ball-pulse-sync 1s 0s infinite ease-in-out;
}
.pa-ellipsis span:nth-child(1) {
    -webkit-animation: ball-pulse-sync 1s -0.14s infinite ease-in-out;
    animation: ball-pulse-sync 1s -0.14s infinite ease-in-out;
}
.pa-ellipsis span:nth-child(2) {
    -webkit-animation: ball-pulse-sync 1s -70ms infinite ease-in-out;
    animation: ball-pulse-sync 1s -70ms infinite ease-in-out;
}
@-webkit-keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    66% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes ball-pulse-sync {
    33% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    66% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/*Loader Css end*/

#table_id_wrapper .date-time {
    width: 100px;
}
#table_id_wrapper th:last-child {
    text-align: center;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip.custom {
    opacity: 1;
    margin-left: 10px;
}
.tooltip.custom button {
    border: 0;
    background: aliceblue;
    font-size: 20px;
}
.tooltip.custom button span {
    font-size: 14px;
}
.copy-input {
    width: 80%;
    border: 0;
    background: transparent;
}

.copy-input:focus {
    outline: 0;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.single-product-image-prev-item {
    height: 100px;
    width: 100px;
    position: relative;
    box-shadow: 0px 10px 20px #dededeb0;
    margin-right: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.single-product-image-prev-item #productCoverPrev {
    background-size: contain !important;
    height: 90% !important;
    width: 100% !important;
    margin-top: 0 !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.single-product-image-prev-item .sp-image-remove {
    position: absolute;
    z-index: 11111;
    top: 0;
    right: 0;
    color: #d40000;
    cursor: pointer;
}

.single-product-image-prev-item .sp-default-img {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    font-weight: 400;
    background: #107eff;
    color: #ffffff;
    padding: 0px 3px 2px;
    border-radius: 5px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-delete-btn {
    display: inline-block;
    border: 0;
    background: transparent;
    color: red;
    padding: 0;
    font-size: 18px;
}

.edit-btn {
    display: inline-block;
    border: 0;
    background: transparent;
    color: red;
    padding: 0;
    font-size: 18px;
}

.data-edit-btn {
    display: inline-block;
    border: 0;
    background: transparent;
    color: #3f6ad8;
    padding: 0;
    font-size: 18px;
}
td .action-btns {
    display: flex;
    justify-content: center;
}
td .action-btns a,
td .action-btns button {
    margin: 0px 10px;
}
td form {
    display: inline-block;
}
#table_id_wrapper td img {
    width: 80px;
    height: 65px;
    object-fit: contain;
    vertical-align: middle;
}
.actions {
    position: relative;
}
.action-icon {
    background: #0067ab;
    color: #fff;
    padding: 4px 11px;
    display: inline-block;
    text-decoration: none;
    border-radius: 0px;
    transition: 300ms;
}
.action-icon:hover {
    color: #fff;
    text-decoration: none;
}
.actions:hover ul {
    /* opacity: 1; */
    /* z-index: 111; */
}

.actions ul {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
    background: #e6e6e6;
    width: 100px;
    position: absolute;
    z-index: 1111;
    top: 20px;
    transition: all 0.3s ease;
    display: none;
}
.actions ul a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 3px 0;
}
.actions ul a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 5px 8px;
}
.actions ul li a:hover {
    background: #c8c8c8;
    /* display: block; */
}
div.pa-logo {
    height: 70px !important;
}

table.table-bordered.dataTable tbody td.description * {
    font-size: 14px;
}
.add-new-modal-wrapper {
    position: fixed;
    z-index: 999999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000009e;
    top: -100%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.add-new-modal-wrapper.modal-visible {
    top: 50%;
}
.add-new-modal-inner {
    max-height: 85vh;
    max-width: 600px;
    min-width: 400px;
    overflow-y: auto;
    border-radius: 5px;
}
.add-new-modal-inner input[type="checkbox"] {
    height: 20px;
    width: 20px;
}
/*Scrollbar*/
.add-new-modal-inner::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.add-new-modal-inner::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.add-new-modal-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(0, 101, 179);
}
.add-new-modal-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff !important;
}

.add-item-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff !important;
}
.card-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-top-wrapper .card-title {
    margin-bottom: 0px;
    font-size: 20px;
}
.modal-hide-btn {
    font-size: 25px;
    cursor: pointer;
}
.modal-hide-btn.cancel {
    background: #3c3c3c;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
}
.all-video-iframe iframe {
    width: 100px;
    height: 60px;
}
.p-cover-photo {
    width: 30%;
}
.product-video-items-wrapper .p-cover-photo {
    width: 65%;
}
.product-cover-photo .check-wrapper {
    position: relative;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-cover-photo .check-wrapper .box {
    height: 22px !important;
    width: 22px !important;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    left: -1px;
    transform: translateY(-50%);
    border: 1px solid #767676;
    border-radius: 5px;
    background: #ffffff;
}
.product-cover-photo label {
    width: auto !important;
    margin-bottom: 0 !important;
    margin-left: 10px;
}
.p-video-new-item-add-btn,
.p-image-new-item-add-btn {
    position: absolute;
    right: 0;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dddddd;
    border-radius: 5px;
    padding: 10px;
}
.p-video-new-item-add-btn i,
.p-image-new-item-add-btn i {
    margin-right: 8px;
}
.product-cover-photo {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.p-video-item-remove-btn,
.p-image-item-remove-btn {
    position: absolute;
    right: 28%;
    font-size: 20px;
    color: red;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.required-higlight label span {
    color: red;
    font-weight: 600;
    margin-left: 2px;
}


.edit-subscribe-user form table input,
.edit-subscribe-user form table select,
.edit-subscribe-user form table textarea {
    border: none;
    width: 100%;
}

.edit-subscribe-user form input:focus,
.edit-subscribe-user form textarea:focus{
    outline: none;
}
