.c-choice.c-choice--radio.c-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.c-choice.c-choice--radio.c-field img {
    max-width: 30%;
}
/* Payment Plugin css start */
#paid-invoice-form .payment-title {
    width: 100%;
    text-align: center;
}
#paid-invoice-form .form-container .field-container:first-of-type {
    grid-area: name;
}
#paid-invoice-form .form-container .field-container:nth-of-type(2) {
    grid-area: number;
}
#paid-invoice-form .form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}
#paid-invoice-form .form-container .field-container:nth-of-type(4) {
    grid-area: security;
}
#paid-invoice-form .field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#paid-invoice-form .field-container {
    position: relative;
}
#paid-invoice-form .form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 80px 80px 90px;
    grid-template-areas:
        "name name"
        "number number"
        "expiration security";
    color: #000000;
    padding-top: 20px;
}
#paid-invoice-form .ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(63% - 17px);
    width: 45px;
}

/* CREDIT CARD IMAGE STYLING */
#paid-invoice-form .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
#paid-invoice-form .container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding-top: 20px;
}
#paid-invoice-form #ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}
#paid-invoice-form #ccsingle svg {
    width: 100px;
    max-height: 60px;
}
#paid-invoice-form .creditcard svg#cardfront,
#paid-invoice-form .creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}
#paid-invoice-form #generatecard {
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* CHANGEABLE CARD ELEMENTS */
#paid-invoice-form .creditcard .lightcolor,
#paid-invoice-form .creditcard .darkcolor {
    -webkit-transition: fill 0.5s;
    transition: fill 0.5s;
}
#paid-invoice-form .creditcard .lightblue {
    fill: #03a9f4;
}
#paid-invoice-form .creditcard .lightbluedark {
    fill: #0288d1;
}
#paid-invoice-form .creditcard .red {
    fill: #ef5350;
}
#paid-invoice-form .creditcard .reddark {
    fill: #d32f2f;
}
#paid-invoice-form .creditcard .purple {
    fill: #ab47bc;
}
#paid-invoice-form .creditcard .purpledark {
    fill: #7b1fa2;
}
#paid-invoice-form .creditcard .cyan {
    fill: #26c6da;
}
#paid-invoice-form .creditcard .cyandark {
    fill: #0097a7;
}
#paid-invoice-form .creditcard .green {
    fill: #66bb6a;
}
#paid-invoice-form .creditcard .greendark {
    fill: #388e3c;
}
#paid-invoice-form .creditcard .lime {
    fill: #d4e157;
}
#paid-invoice-form .creditcard .limedark {
    fill: #afb42b;
}
#paid-invoice-form .creditcard .yellow {
    fill: #ffeb3b;
}
#paid-invoice-form .creditcard .yellowdark {
    fill: #f9a825;
}
#paid-invoice-form .creditcard .orange {
    fill: #ff9800;
}
#paid-invoice-form .creditcard .orangedark {
    fill: #ef6c00;
}
#paid-invoice-form .creditcard .grey {
    fill: #bdbdbd;
}
#paid-invoice-form .creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#paid-invoice-form #svgname {
    text-transform: uppercase;
}
#paid-invoice-form #cardfront .st2 {
    fill: #ffffff;
}
#paid-invoice-form #cardfront .st3 {
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
}
#paid-invoice-form #cardfront .st4 {
    font-size: 54.7817px;
}
#paid-invoice-form #cardfront .st5 {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}
#paid-invoice-form #cardfront .st6 {
    font-size: 33.1112px;
}
#paid-invoice-form #cardfront .st7 {
    opacity: 0.6;
    fill: #ffffff;
}
#paid-invoice-form #cardfront .st8 {
    font-size: 24px;
}
#paid-invoice-form #cardfront .st9 {
    font-size: 36.5498px;
}
#paid-invoice-form #cardfront .st10 {
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
}
#paid-invoice-form #cardfront .st11 {
    font-size: 16.1716px;
}
#paid-invoice-form #cardfront .st12 {
    fill: #4c4c4c;
}

/* BACK OF CARD */
#paid-invoice-form #cardback .st0 {
    fill: none;
    stroke: #0f0f0f;
    stroke-miterlimit: 10;
}
#paid-invoice-form #cardback .st2 {
    fill: #111111;
}
#paid-invoice-form #cardback .st3 {
    fill: #f2f2f2;
}
#paid-invoice-form #cardback .st4 {
    fill: #d8d2db;
}
#paid-invoice-form #cardback .st5 {
    fill: #c4c4c4;
}
#paid-invoice-form #cardback .st6 {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}
#paid-invoice-form #cardback .st7 {
    font-size: 27px;
}
#paid-invoice-form #cardback .st8 {
    opacity: 0.6;
}
#paid-invoice-form #cardback .st9 {
    fill: #ffffff;
}
#paid-invoice-form #cardback .st10 {
    font-size: 24px;
    transform: translate(85%, 59%);
}
#paid-invoice-form #cardback .st11 {
    fill: #eaeaea;
}
#paid-invoice-form #cardback .st12 {
    font-family: "Rock Salt", cursive;
}
#paid-invoice-form #cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
#paid-invoice-form .container {
    perspective: 1000px;
}
#paid-invoice-form .creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}
#paid-invoice-form .creditcard .front,
#paid-invoice-form .creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}
#paid-invoice-form .creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#paid-invoice-form .creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
#toast-container {
    position: fixed;
    z-index: 99999999;
    top: unset;
    bottom: 10px;
}
#toast-container > div {
    opacity: 1;
}

.make-payment-amount input {
    width: 100%;
    height: 40px;
}
.payment-heading {
    text-align: left;
    text-transform: capitalize;
    border-bottom: 2px solid #a2a2a2;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}
.c-field.amount-wrapper .c-field__label.p-title {
    position: absolute;
    left: 8px;
    bottom: 0px;
    user-select: none;
}
.c-field.amount-wrapper {
    position: relative;
}
.c-field.amount-wrapper input {
    padding-left: 22px;
    background: transparent;
    font-weight: 500;
}
.c-field.amount-wrapper input:focus {
    outline: none;
}

/* Payment Plugin css end */
@media screen and (max-width: 1244px) {
    .make-payment-page
        .c-choice.c-choice--radio.c-field
        .input-wrapper
        label.c-choice__label {
        max-width: 86%;
    }
}
@media screen and (max-width: 360px) {
    .make-payment-page
        .c-choice.c-choice--radio.c-field
        .input-wrapper
        label.c-choice__label {
        max-width: 92%;
        line-height: 1.4;
    }
}
@media screen and (max-width: 320px) {
    .make-payment-page
        .c-choice.c-choice--radio.c-field
        .input-wrapper
        label.c-choice__label {
        max-width: 86%;
    }
}
